	root 'test_controller/#est_index'<h1>TestController#test_index</h1>
<p>Find me in app/views/test_controller/test_index.html.erb</p>
<%= 1+1%>



<a href= "/test_controller/new_test_index">New Index Page</a>	